<!DOCTYPE html>
<html>
<head>
<title>Project_nandemo</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="content/nandemo_common.css"/>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://unpkg.com/vue@3.0.3/dist/vue.global.prod.js"></script>
<script src="content/baseData.js"></script>
<script src="content/gameData_imouto.js"></script>
<script src="content/gameData_boss.js"></script>
<script src="content/puzzle_game_component.js"></script>
</head>
<body>


<div id="machine">
    <!-- permware mounted screen -->
    <div class="pwMounted" v-if="progress == 'mounted'">
        <h4>Puzzle Game</h4>
    </div>
    <!-- permware loaded screen -->
    <div class="pwLoaded" v-if="progress == 'baseDataLoaded'">
        <h4>Quiz Select</h4>
        <div v-for="quiz in baseData.quizList">
            <button @click="startGame(quiz.id)">{{quiz.name}} (by {{quiz.playerName}})</button>
        </div>
    </div>
    <!-- game loading screen -->
    <div class="gameLoading" v-if="progress == 'gameLoadingScreen' || progress == 'gameLoadStarted'">
        <h4>
            Loading ..
        </h4>
        <div>
            <img class="tutorialImage" src="content/images/tutorial.png" width="250" height="410" />
        </div>
        <div>
            tips - select match block
        </div>
        <ul>
            <li v-for="rivalTeam in baseData.rivalTeamListSelected">{{rivalTeam.name}}</li>
        </ul>
    </div>
    <!-- game loaded screen -->
    <div v-if="progress == 'gameLoadStarted' || progress == 'gameLoaded'" v-show="progress == 'gameLoaded'">
        <software :game_data="gameData" @progress_listner="progress = $event" @result_listner="gameResult = $event" ref="game"></software>
    </div>
    <!-- game unloaded screen -->
    <div v-if="progress == 'gameUnloaded'">
        Game Unloaded
    </div>
</div>


</body>
<script>
const permWare = Vue.createApp({
    components: {
        'software': puzzle_game_component
    },
    data() {
        return {
            name: "Permware",
            /*
            [permware progress]
            mounted: permware mounted
            baseDataLoaded: base data loading complete
            gameLoadingScreen: game loading screen
            gameLoadStarted: game loading started
            gameLoaded: game loading complete
            gameFinished: game finished (call back from software)
            gameUnloaded: game unloaded
            */
            progress: "",
            gameResult: {},
            baseData: {
                quizList: [],
                quizSelected: 1
            },
            gameData: {
                quiz: undefined,
                teamList: undefined,
                userId: undefined,
                userTeamId: undefined
            }
        }
    },
    mounted() {
        this.progress = "mounted";

        setTimeout(function() {
            this.loadBaseData();
        }.bind(this), 1500);
    },
    methods: {
        loadBaseData() {
            // load base data
            this.baseData.quizList = quizList;
            this.progress = "baseDataLoaded";
        },
        startGame(quizId) {
            this.baseData.quizSelected = quizId;
            this.progress = "gameLoadingScreen";

            // load game data
            if (this.baseData.quizSelected == 1)
                this.gameData = gameData_imouto;
            else if (this.baseData.quizSelected == 2)
                this.gameData = gameData_boss;

            let loadScreenTimer = setTimeout(function() {
                this.progress = "gameLoadStarted";
            }.bind(this), 5000);
        }
    },
    watch: {
        progress(newVal, oldVal) {
            if (newVal == "gameLoaded") {
                // execute rival simulator
                this.$refs.game.iSimulate();
            }
            else if (newVal == "gameFinished") {
                // send game result to server
                alert("Game Over");

                location.reload();
            }
        }
    }
});
var pm = permWare.mount("#machine");
</script>
</html>