* {
    box-sizing: border-box;
}
.pwMounted {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pwLoaded {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gameLoading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.notice {
    text-align: center;
}
.teams {
    display: flex;
    flex-direction: row;
}
.players {
    display: flex;
    flex-direction: row;
}
.player {
    flex: 50%;
    max-width: 50%;
}
.quiz {
    display: flex;
    flex-wrap: wrap;
}
.block {
    display: block;
    flex: 25%;
    max-width: 25%;
    cursor: pointer;
}
@media (max-width: 800px) {
    .block {
        flex: 50%;
        max-width: 50%;
    }
}
@media (max-width: 600px) {
    .player {
        flex: 33%;
        max-width: 33%;
    }
    .block {
        flex: 100%;
        max-width: 100%;
    }
}