/*
Common
*/
* {
    box-sizing: border-box;
}
section {
    display: flex;
    flex-direction: row;
}
nav {
    flex: 20%;
}
article {
    flex: 80%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a:link, a:visited {
    text-decoration: none;
    color:#000;
}
a:hover, a:active {
    text-decoration: underline;
    color:#000;
}
a.subMenu {
    color:gray
}
a.bread {
    font-style: italic;
    color:gray
}
/*
Game
*/
.game {
    display: flex;
}
.teams {
    display: flex;
    flex-direction: row;
}
.team {
    flex: 50%;
    max-width: 50%;
}
.players {
    display: flex;
    flex-direction: row;
}
.quiz {
    display: flex;
    flex-wrap: wrap;
}
.block {
    display: block;
    flex: 25%;
    max-width: 25%;
    cursor: pointer;
}
@media (max-width: 800px) {
    .block {
        flex: 50%;
        max-width: 50%;
    }
}
@media (max-width: 600px) {
    .player {
        flex: 33%;
        max-width: 33%;
    }
    .block {
        flex: 100%;
        max-width: 100%;
    }
}