<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Project_nandemo</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/content/nandemo_common.css"/>
</head>
<body>
    
<h4><a href="/">Home</a></h4>
<section>
<nav>
    <ul>
        <li>
            Play<br/>
            <ul>
                <li><small><a class="subMenu" href="/game/online">online</a></small></li>
            </ul>
        </li>
        <li><a href="/myPage/myQuiz">My quiz</a></li>
        <li><a href="/myPage/myTeam">My team</a></li>
        <li><a href="/myPage/passwdChange">Password change</a></li>
        <li><a href="/logout">Log out</a></li>
    </ul>
</nav>
<article>
    My quiz
    <hr/>
    <ul>
        <li th:each="quiz:${quizeList}">
            <a th:href="${'/myPage/myQuizEdit/' + quiz.id}">[[${quiz.name}]]</a>
            <small><a class="bread" th:href="${'/myPage/myQuizDelete/' + quiz.id}">del</a></small>
        </li>
    </ul>
    <small><a class="bread" href="/myPage/myQuizCreate">Create</a></small>
</article>
</section>

</body>
</html>