<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Project_nandemo</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/content/nandemo_common.css"/>
</head>
<body>
    
<h4><a href="/">Home</a></h4>
<section>
<nav>
    <ul>
        <li>
            Play<br/>
            <ul>
                <li><small><a class="subMenu" href="/game/online">online</a></small></li>
            </ul>
        </li>
        <li><a href="/myPage/myQuiz">My quiz</a></li>
        <li><a href="/myPage/myTeam">My team</a></li>
        <li><a href="/myPage/passwdChange">Password change</a></li>
        <li><a href="/logout">Log out</a></li>
    </ul>
</nav>
<article>
    My team change
    <hr/>
    <form action="#" th:action="@{/myPage/myTeamChange}" th:object="${myTeamChangeDto}" method="post">
        Team name<br/>
        <ul>
            <li th:each="team : *{teamList}">
                <input type="radio" th:id="${team.id}" th:field="*{selectedTeamId}" th:value="${team.id}" />
                <label th:for="${team.id}" th:text="${team.name}"></label>
            </li>
        </ul>
        <input type="submit" value="Change" /> <input type="button" value="Cancel" onclick="location.href='/myPage/myTeam';" />
    </form>
</article>
</section>

</body>
</html>