<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Project_nandemo</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="_csrf" id="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" id="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" href="/content/nandemo_common.css"/>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://unpkg.com/vue@3.0.3/dist/vue.global.prod.js"></script>
    <script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/2.3.3-1/stomp.min.js"></script>
</head>
<body>
    
<h4><a href="/">Home</a></h4>
<section>
<nav>
    <ul>
        <li>
            Play<br/>
            <ul>
                <li><small><a class="subMenu" href="/game/online">online</a></small></li>
            </ul>
        </li>
        <li><a href="/myPage/myQuiz">My quiz</a></li>
        <li><a href="/myPage/myTeam">My team</a></li>
        <li><a href="/myPage/passwdChange">Password change</a></li>
        <li><a href="/logout">Log out</a></li>
    </ul>
</nav>
<article id="app">
    <!-- Quiz select scene -->
    <div v-if="scene == 'quizSelectScene'">
        QUIZ LIST<br/>
        <div v-if="quizList == undefined">
            LOADING ..
        </div>
        <div v-if="quizList != undefined && quizList.length > 0">
            <ul>
                <li v-for="quiz in quizList">
                    <input type="radio" name="quiz" :id="quiz.id" :value="quiz" v-model="quizSelected"/>
                    <label :for="quiz.id">{{quiz.name}} (by {{quiz.playerName}})</label>
                </li>
            </ul>
            <button @click="uSelectQuiz()">Select</button>
        </div>
        <div v-if="quizList != undefined && quizList.length == 0">
            QUIZ DOES NOT EXIST.
        </div>
    </div>
    <!-- Room select scene -->
    <div v-if="scene == 'roomSelectScene'">
        ROOM LIST<br/>
        <div v-if="roomList == undefined">
            LOADING ..
        </div>
        <div v-if="roomList != undefined && roomList.length > 0">
            <ul>
                <li v-for="room in roomList">
                    <input type="radio" name="room" :id="room.id" :value="room" v-model="roomSelected"/>
                    <label :for="room.id">{{room.name}}</label>
                </li>
            </ul>
            <button @click="uJoinRoom()">Join</button>
        </div>
        <button @click="scene = 'roomCreateScene'">CREATE ROOM</button>
    </div>
    <!-- Room create scene -->
    <div v-if="scene == 'roomCreateScene'">
        ROOM CREATE<br/>
        <input type="text" v-model="roomNameCreated" placeholder="My Room"/><br/>
        <button @click="uCreateRoom()">CREATE</button>
    </div>
    <!-- gameScene, gameOverScene -->
    <div v-if="scene == 'gameScene' || scene == 'gameOverScene'">
        <div class="teams">
            <div class="team" v-for="team in gameDataRoom.team_list">
                <div>{{team.name}} {{team.score}}</div>
                <div class="players">
                    <div v-for="player in team.playerList">
                        <div>{{player.name}} {{player.score}}</div>
                        <div v-if="team.id == myTeamId && player.id == myPlayerId">
                            <button @click="uSetReady(team.id, player.id)" :disabled="player.ready">Ready</button>
                        </div>
                        <div v-if="team.id != myTeamId || player.id != myPlayerId">
                            <span>{{player.ready ? "Ready" : "Wait"}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="quiz">
            <button class="block" v-for="block in gameDataRoom.quiz.pairList" name="block" :team_id="block.team_id" :player_id="block.player_id" :disabled="block.disabled" :style="{opacity: block.opacity}" @click="uAction(block.id, block.type, myTeamId, myPlayerId)">{{block.text}}</button>
        </div>
    </div>
</article>
</section>

</body>
<script>
const app = Vue.createApp({
    data() {
        return {
            sock: null,                 // SockJs
            stompClient: null,          // Stomp

            /*
            quizSelectScene : Quiz select scene
            roomSelectScene : Room select scene
            roomCreateScene : Room create scene
            gameScene       : Game play scene
            gameOverScene   : Game over scene
            */
            scene: "",
            quizList: undefined,
            quizSelected: undefined,
            roomList: undefined,
            roomSelected: undefined,
            roomNameCreated: "",

            myTeamId: "[[${myTeamId}]]",
            myPlayerId: "[[${myPlayerId}]]",
            gameDataRoom: {
                id: undefined,
                name: undefined,
                quiz: undefined,
                team_list: undefined,
                game_status: undefined
            }
        }
    },
    mounted() {
        this.scene = "quizSelectScene";
    },
    watch: {
        scene(newVal, oldVal) {
            let tempSelf = this;

            switch(newVal) {
                case "quizSelectScene":
                    $.ajax({url: "quizList",
                        async: true,
                        success: function(quizList){
                            tempSelf.quizList = quizList;
                        },
                        error: function(xhr) {
                            alert("Data load fail: " + xhr.status + " " + xhr.statusText);
                            location.reload();
                        }
                    });
                    break;
                case "roomSelectScene":
                    let queryString = "?quizId=" + tempSelf.quizSelected.id;
                    $.ajax({url: "roomList" + queryString,
                        async: true,
                        success: function(roomList){
                            tempSelf.roomList = roomList;
                        },
                        error: function(xhr) {
                            alert("Data load fail: " + xhr.status + " " + xhr.statusText);
                            location.reload();
                        }
                    });
                    break;
                case "gameScene":
                    tempSelf.sock = new SockJS("/game-online-ws");
                    tempSelf.stompClient = Stomp.over(tempSelf.sock);

                    tempSelf.stompClient.connect({}, function(frame) {
                        console.log("connected: " + frame);
                        tempSelf.stompClient.subscribe("/sub/topic/game/online/room/" + tempSelf.gameDataRoom.id, function(message) {
                            tempSelf.gameDataRoom = JSON.parse(message.body);

                            if (tempSelf.gameDataRoom.game_status == "not_started") {
                                // 1. check if game is ready to play
                                let notReadyPlayer = tempSelf.gameDataRoom.team_list.find(function(team) {
                                    return team.playerList.find(p => p.ready == false);
                                });
                                if (notReadyPlayer == undefined) {
                                    tempSelf.gameDataRoom.quiz.pairList.forEach(block => {
                                        block.disabled = false;
                                    });

                                    tempSelf.gameDataRoom.game_status = "started";
                                    tempSelf.stompClient.send("/pub/topic/game/online", {}, JSON.stringify(tempSelf.gameDataRoom));
                                }
                            }
                            else if (tempSelf.gameDataRoom.game_status == "started") {
                                // check if game is finished
                                let enabledBlock = tempSelf.gameDataRoom.quiz.pairList.find(x => x.disabled == false);
                                if (enabledBlock == undefined) {

                                    tempSelf.gameDataRoom.game_status ="finished";
                                    tempSelf.stompClient.send("/pub/topic/game/online", {}, JSON.stringify(tempSelf.gameDataRoom));

                                    let teamNames = [];
                                    let topScore = 0;
                                    tempSelf.gameDataRoom.team_list.forEach((team) => {
                                        if (team.score > topScore)
                                            topScore = team.score;
                                    });
                                    tempSelf.gameDataRoom.team_list.forEach((team) => {
                                        if (team.score == topScore)
                                            teamNames.push(team.name);
                                    });

                                    alert(teamNames + " win!");

                                    tempSelf.scene = "gameOverScene";
                                }
                            }
                        });
                    }, function(error) {
                        alert("connect error:" + error);
                    });
                    break;
                case "gameOverScene":
                    if (tempSelf.stompClient != null)
                        tempSelf.stompClient.disconnect();
                    break;
                default:
                    // code block
                    break;
            }
        }
    },
    methods: {
        // User action: Quiz select
        uSelectQuiz() {
            if (this.quizSelected == undefined) {
                alert("Quiz is not seledted");
                return;
            }

            this.scene = "roomSelectScene";
        },
        // User action: Join room
        uJoinRoom() {
            if (this.roomSelected == undefined) {
                alert("Room is not selected");
                return;
            }

            let csrfToken = $('#_csrf').attr("content");
            let csrfHeader = $('#_csrf_header').attr("content");
            let postData = {};
            postData.roomId = this.roomSelected.id;
            postData = JSON.stringify(postData) ;

            let tempSelf = this;
            $.ajax({url: "joinRoom",
                async: true,
                type : 'post',
                data : postData,
                contentType : "application/json; charset=utf-8",
                beforeSend: function(xhr){
                    xhr.setRequestHeader(csrfHeader, csrfToken);
                },
                success: function(room){
                    tempSelf.gameDataRoom = room;
                    tempSelf.scene = "gameScene";
                },
                error: function(xhr) {
                    alert("An error occured: " + xhr.status + " " + xhr.statusText);
                    location.reload();
                }
            });
        },
        // User action: create room
        uCreateRoom() {
            if (this.roomNameCreated == "") {
                alert("Room name is required");
                return;
            }

            let csrfToken = $('#_csrf').attr("content");
            let csrfHeader = $('#_csrf_header').attr("content");
            let postData = {};
            postData.roomName = this.roomNameCreated;
            postData.quizId = this.quizSelected.id;
            postData = JSON.stringify(postData) ;

            let tempSelf = this;
            $.ajax({url: "createRoom",
                async: true,
                type : 'post',
                data : postData,
                contentType : "application/json; charset=utf-8",
                beforeSend: function(xhr){
                    xhr.setRequestHeader(csrfHeader, csrfToken);
                },
                success: function(room){
                    tempSelf.gameDataRoom = room;
                    tempSelf.scene = "gameScene";
                },
                error: function(xhr) {
                    alert("An error occured: " + xhr.status + " " + xhr.statusText);
                    location.reload();
                }
            });
        },
        // User action: set game ready
        uSetReady(team_id, player_id) {
            this.gameDataRoom.team_list.find(t => t.id == team_id).playerList.find(p => p.id == player_id).ready = true;

            this.stompClient.send("/pub/topic/game/online", {}, JSON.stringify(this.gameDataRoom));
        },
        // User action: click button
        uAction(blockId, blockType, team_id, player_id) {
            let selected = this.gameDataRoom.quiz.pairList.find(d => d.team_id == team_id && d.player_id == player_id);
            let current = this.gameDataRoom.quiz.pairList.find(p => p.id == blockId && p.type == blockType);

            if (current.disabled) {
                return;
            }
            else if (selected == undefined) {
                current.team_id = team_id;
                current.player_id = player_id;
                current.disabled = true;
            }
            else if (selected.id == current.id) {
                current.disabled = true;
                selected.team_id = -1;
                selected.player_id = -1;
                selected.opacity = 0.5;
                current.opacity = 0.5;

                // calculate score
                let team = this.gameDataRoom.team_list.find(t => t.id == team_id);
                let player = team.playerList.find(p => p.id == player_id);
                team.score += 1;
                player.score += 1;
            }
            else {
                selected.team_id = -1;
                selected.player_id = -1;
                selected.disabled = false;
            }

            this.stompClient.send("/pub/topic/game/online", {}, JSON.stringify(this.gameDataRoom));
        }
    }
});
var vm = app.mount("#app");
</script>
</html>